body {
  background: url('https://wallpaperaccess.com/full/141516.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: fixed;
  overflow: scroll;
  padding-top: 5em;
  display: flex;
  justify-content: center;
}

.navbar-item:hover {
  background-color: transparent !important;
  font-weight: 600 !important;
}

.aboutme, .technologies, .interests {
  width: 60%;
  text-align: left;
  margin-left: 8.5%;
}

.typewriter h1 {
  color: #fff;
  font-family: monospace;
  overflow: hidden; 
  border-right: .15em solid rgb(255, 226, 146); 
  white-space: nowrap; 
  margin: 0 auto;
  letter-spacing: .15em; 
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

.title {
  color: rgb(255, 226, 146) !important; 
}

.subtitle {
  color: white !important;
  font-weight: 600 !important;
}

h2, a {
  color: #fff !important;
  font-family: monospace;
  white-space: nowrap; 
  margin: 0 auto;
  letter-spacing: .15em; 
}

.text-content {
  text-align: left;
  width: 23%;
  margin-left: 8.5%;
}

h1, h2 {
  font-size: 25px !important;
  color: #fff;
  font-family: monospace;
}

p {
  color: #fff !important;
  font-family: monospace !important;
}

i {
  font-size: 5rem;
  padding-top: 30px;
  margin-right: 67px;
  color: white;
}

#contactg, #contactl, #contactgh {
  font-size: 1rem;
  color: white;
}

.row-1, .row-2, .row-3, .row-4 {
  display: flex;
  flex-direction: row;
}

.iconDiv {
  width: 80px;
  padding-top: 30px;
  margin-right: 67px;
}

.iconDiv p {
  display: none;
}

.iconDiv:hover {
  position: relative;
  border-radius: 5px;
}

.iconDiv:hover i {
  display: none;
}

.iconDiv:hover p {
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  font-weight: 700;
  text-align: center;
  font-size: 1.5rem;
  color: rgb(255, 226, 146) !important;
}

#p1, #p2, #p3, #p4 {
  font-size: 2rem;
  color: white;
  padding-left: 11%;
}

.technologies {
  width: 60%;
}

.flip-card {
  background-color: transparent;
  width: 50vw;
  height: 60vh;
  border: none;
  margin-bottom: 35px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.p1, .p2, .p3, .p4 {
  width: 50vw;
  height: 60vh; 
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: rgb(22,22,22);
  color: white;
  transform: rotateY(180deg);
}

.proj h1 {
  color: white !important;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(255, 226, 146) }
}